<%= form_for(resource, as: resource_name, html: {class: "form-auth text-center mt-5 mb-3"}, url: session_path(resource_name)) do |f| %>
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

<%= f.label "Please sign in", class: "sr-only" %><br/>
<%= f.email_field :email, id:"inputEmail", class:"form-control", placeholder:"Email address", autofocus: true %>

<%= f.label "Password", class: "sr-only" %><br/>
<%= f.password_field :password, id:"inputPassword", class:"form-control", placeholder:"Password" %>

<%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>

<% end %>

<div class="container mt-5 mb-3 text-muted text-center">
  <%= render "devise/shared/links" %>
</div>
